:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow: #fef8ec;
  --color-yellow-transparent: rgb(254, 248, 236, 0);

  --padding-global: 10vw;

  --height-header: 103px;
  --height-welcome: 947px;
  --height-footer: 200px;
}

/*GLOBAL RESET / STYLES*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  /*smooth scroll when click anchor*/
  scroll-behavior: smooth;
}

/*GLOBAL COLORS*/
body {
  background-color: var(--color-white);
}
header {
  background-image: url("./assets/header-background.svg");
  background-size: cover;
}
main section#welcome {
  background-image: url("./assets/Group 18.svg");
  background-size: cover;
}
footer {
  background-image: url("./assets/footer-background.svg");
  background-size: cover;
}

/*GLOBAL PADDING*/
header,
main section#welcome,
main section#projects,
footer {
  padding: 0 var(--padding-global);
}

/*GLOBAL LAYOUT & POSITIONING*/
header {
  /* Fix header to top */
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 27px;
  width: 100%;
  height: var(--height-header);
  /* ensure navbar stacks on top of all other elements */
  z-index: 10;
}
main section#welcome {
  /* push down content to make space for header*/
  padding-top: var(--height-header);
  min-height: var(--height-welcome);
  width: 100%;
}
footer {
  height: var(--height-footer);
  width: 100%;
}

/*TYPOGRAPHY*/
h1 {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 49px;
}
h2 {
  font-family: Merriweather, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
}
h3 {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}
p {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}
a {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

/* NAVBAR */
header {
  /* vertically center */
  display: flex;
}
#navbar {
  /* push navbar to right */
  margin-left: auto;
}
#navbar ul li {
  padding-left: 4rem;
}
#logo a {
  font-family: Merriweather, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
.navbar ul {
  list-style: none;
  display: flex;
}

/*WELCOME*/
#welcome {
  display: flex;
  flex-direction: column;
}
#welcome h1 {
  margin-top: 180px;
}
#welcome p {
  margin-top: 43px;
}
#welcome #chevron-down {
  text-align: center;
  margin-top: auto;
  margin-bottom: 180px;
}

/*PROJECTS*/
#projects {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project {
  display: flex;
  flex-direction: row;
  margin: 100px 0;
}
.project-info {
  padding: 80px 69px 79px 80px;
}
.project-company {
  padding: 8px 0;
}
.project-name {
  padding: 8px 0;
}
.project-description {
  padding-top: 8px;
  padding-bottom: 41px;
}
.project-image {
  width: 510px;
  height: 377.74px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.copyright {
  text-align: center;
  text-transform: uppercase;
}
#footer-navbar {
  margin-bottom: 10px;
}
#footer-navbar ul li {
  padding: 0 2rem;
}
